.header {

	font-family: Verdana;
  	font-size: 14px;
  	font-weight: bold;
  	display: flex;
  	width: 100%;
  	padding-bottom: 10px;
  	border-bottom: 1px solid black

}

.logo{
	display: inline-flex;

	align-items: center;
	justify-content: flex-start;
	color: MediumAquamarine;

}

.container {
	width: 100%;
	display: flex;


}

.header ul {

	text-align: right;
	margin-left: auto;
	display: inline-flex;
	justify-content: space-around;
	flex-wrap: wrap;

}


.header li{
	list-style: none;
	margin: 20px;
	justify-content: space-around;


}

.header li a {
	color: black;
}

.large {
	border-radius: 1px solid black
}

.content{
	display: flex;
	justify-content: space-between;
	border: 1px solid black;
}


.column.large {
	display: flex;
	flex-direction: column;
  width: 630px;
  border: 1px solid black;


}

.top.story {
	border-top: 2px solid black;
}

.column.large h1 {
	border-top: 2px solid black;
}

.column.large span {
	border: 1px solid black;
}

.column.medium {
	display: flex;
	flex-direction: column;
  width: 300px;
  border: 2px solid black;
}

.column.medium span {
	border-top: 3px solid black;
	border-right: 3px solid black;
	border-left: 3px solid black
	border: 1px solid black;
}


.column.small {
	display: flex;
	flex-direction: column;
  width: 240px;
  border: 1px solid black;

}

.laststory {
	border: 1px solid black;

}
